<h1>Services</h1>
<dl>
  <dt>Express Visit - $18</dt>
  <dd>20 minutes of care</dd>
  <dd>Change food and water</dd>
  <dd>Vitamins and medications</dd>
  <dd>Litter box freshening**</dd>
  <dd>Walk and/or Yard play**</dd>

  <dt> - $25</dt>
  <dd>Change food and water</dd>
  <dd>Vitamins and medications</dd>
  <dd>Litter box freshening**</dd>
  <dd>Walk and/or Yard play**</dd>
</dl>



<div id="disclaimer">
  ** Where Applicable
</div>
