<h3>
  <center>
    <ul style="list-style-image:url(<%= image_path('claw.png') %>); line-height:120px">
      <li>Satisfaction Guaranteed!</li>
      <li>Reliable, Professional and Sensitive to your needs</li>
      <li>Run by animal loves, for animal lovers</li>
    </ul>
  </center>

</h3>
