<h3>
  <center>
    <%= image_tag 'claw.png' %>
    Serving Ocala Florida and surrounding areas, EZPetSitting llc knows that being away from home can be stressful not only on you but on your pet.  We have multiple service
    packages that are aimed at making you pet the happist and most comfortable while you are away from home.  EZPetSitting is fully licensed and insured and offers a 100%
    money back guarantee if you are unsatisied for any reason.  
  </center>

</h3>
