<%= form_tag '/email/send_email' do %>
  <h3>Send me a message and I will contact you as soon as possible.</h3>
  Email:<br />
  <%= text_field_tag :email %>
  <br />
  <%= text_area_tag :content, '', :rows=>10, :style=>"width:1200px" %>
  <br />
  <%= submit_tag 'Send', :onclick=>"if(checkFields()){return false;}" %>

<% end %>

<h4>(863) 604 - 6275</h4>

<script>
  function checkFields(){
    var email = $('#email').val();
    if(email == ''){
      $('#email').css('background-color', 'pink');
      return true
    }
    return false;
  }
  $('#email').click(function(){
    $('#email').css('background-color', 'white');
  })

</script>
